In [13]:
import numpy as np
import pandas as pd
from collections import Counter
import ast
SpamData1 = pd.read_csv("spam.csv")
SpamData2 = pd.read_csv("First_big_data.csv")
SpamData3=  pd.read_csv("Second_big_data.csv")

In [14]:
SpamData1["Category"]=SpamData1["Category"].apply(lambda x: 0 if x=="ham" else 1)
SpamData1.rename(columns={'Category': 'label'}, inplace=True)
SpamData1.rename(columns={'Message': 'text'}, inplace=True)

In [15]:
SpamData= pd.merge(SpamData3, pd.merge(SpamData1, SpamData2, how='outer'), how='outer')

In [16]:
SpamData["arr"]= SpamData["text"].apply(lambda x: x.split(" "))

In [22]:
all_words = [word for sublist in SpamData[SpamData["label"]==1]['arr'] for word in sublist]  # Flatten the lists
word_counts = Counter(all_words)

# Convert the word counts to a DataFrame for better presentation
word_count_spam_df = pd.DataFrame(word_counts.items(), columns=['word', 'count'])
word_count_spam_df.sort_values(by='count', ascending=False, inplace=True)

In [25]:
all_words = [word for sublist in SpamData[SpamData["label"]==0]['arr'] for word in sublist]  # Flatten the lists
word_counts = Counter(all_words)

# Convert the word counts to a DataFrame for better presentation
word_count_nospam_df = pd.DataFrame(word_counts.items(), columns=['word', 'count'])
word_count_nospam_df.sort_values(by='count', ascending=False, inplace=True)

In [24]:
word_count_spam_df

                     word   count
1256         escapenumber  333179
69                    the  253692
85             escapelong  188102
76                     to  175138
115                   and  159291
...                   ...     ...
125387       iwzmoumqtfnv       1
125388  totalhousingloans       1
125389             mevuck       1
125391       ruxrxyrxypvw       1
125392         yvypidhtmv       1

[316598 rows x 2 columns]

In [26]:
word_count_nospam_df

                    word   count
316         escapenumber  798212
44                   the  437467
4                     to  280689
143                    -  271222
14                     ,  188493
...                  ...     ...
270729         ®é¡aagent       1
270728                        1
270751  escapenumberspno       1
270750           seedfor       1
270749       wherepeople       1

[270760 rows x 2 columns]

In [6]:
#SpamData.to_csv("SpamDataMerged.csv", index=False)